.hide{
    display: none;
}

.offscreen{
    display: none;
}

.instructions{
    width: 500px;
    color: red;
    margin-top: 10px;
}

.register-block{
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.input_register{
    width: 500px;
}